.with[type="search"] {
  appearance: none;
  font-size: 2rem;
  height: 2.5rem;
}

.without[type="search"] {
  font-size: 2rem;
  height: 2.5rem;
}

.border-background[type="search"] {
  font-size: 2rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: rgb(198, 198, 198);
}
