body {
  width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  outline: none;
}

a:link {
  color: dodgerblue;
}

a:visited {
  color: fuchsia;
}

a:focus,
a:hover {
  border-bottom: 2px solid;
  background-color: aquamarine;
}

a:active {
  color: white;
  background-color: black;
}
